In [8]:
 a = int(input('당신의 나이는?'))

당신의 나이는?24

In [9]:
print(a,"살이군요.")

24 살이군요.

In [10]:
print("내년엔", a+1, "살이 되겠네요.")

내년엔 25 살이 되겠네요.

In [11]:
print(type(a))

<class 'int'>

In [15]:
 a = input('당신의 나이는?')

당신의 나이는?24

In [16]:
msg = a+"살 이군요."

In [17]:
print(msg)

24살 이군요.

In [18]:
print("내년엔", int(a)+1, "살이 되겠네요.")
#연산은 같은 자료형끼리 실행

내년엔 25 살이 되겠네요.

In [19]:
print(type(a))

<class 'str'>

In [32]:
a= "파이썬"

In [23]:
print(a,"반가워!")

파이썬 반가워!

In [28]:
msg = a+" 반가워!"

In [29]:
print(msg)

파이썬 반가워!

In [34]:
a= "파이썬"

In [36]:
print('%s아 반가워'%a)

파이썬아 반가워

In [42]:
name = "홍길동"

In [43]:
age = 20.5

In [47]:
print("이름은 {}이고 나이는 {:.2f}입니다.".format(name, age))

이름은 홍길동이고 나이는 20.50입니다.

In [48]:
#2-6
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 실습하는 실습실')
print(Lab)

우리가 실습하는 실습실
105

In [49]:
#2-7
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 활용하는 실습실:',Lab)

우리가 활용하는 실습실: 105

In [50]:
#2-8
#변수 두 개를 생성하고 값을 할당
my_id = 20150001
grade = 1

#두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
20150001
학년:
1

In [51]:
#2-9
#변수에 값을 할당하고 출력하는 예제입니다.
#dollars 변수에 값을 할당해봅시다.
dollars = 2.75
print('I have', dollars, 'in my account')

#dollars 변수에 새로운 값을 할당해 봅시다.
dollars = 99.95
print('But now I have', dollars, 'in my account!')

I have 2.75 in my account
But now I have 99.95 in my account!

In [52]:
#2-10
#두 개의 변수를 생성하고 문자열을 할당합니다.
department = '국어국문학과'
name = '홍길동'

#각 변수에 할당된 문자열 값을 출력해보자.
print(department, name)

국어국문학과 홍길동

In [53]:
#2-11
#학과명을 입력받습니다.
department = input("학과명:")

#여러분의 이름을 입력받습니다.
name = input('성명:')

#두 변수의 값을 출력합니다.
print('안녕하세요', department, name)

학과명:국어국문학과
성명:홍길동
안녕하세요 국어국문학과 홍길동

In [54]:
#2-12
#여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name = input('당신의 이름은 무엇입니까?')
age = int(input('나이는 어떻게 되시나요?'))
attending_time = float(input('통학시간은 얼마나 걸립니까?'))

#변수에 입력된 데이터를 출력해봅시다.
print('입력 정보는 다음과 같습니다.')
print('이름', name)
print('나이', age)
print('통학시간', attending_time)

당신의 이름은 무엇입니까?홍길동
나이는 어떻게 되시나요?20
통학시간은 얼마나 걸립니까?2
입력 정보는 다음과 같습니다.
이름 홍길동
나이 20
통학시간 2.0

In [55]:
#2-13
#salary 변수에 급여를 할당합니다.
salary = 2500.0

#bonus 변수에 보너스를 할당합니다.
bonus = 1200.0

#급여와 보너스를 더하여 총 급여를 구해봅니다.
#총 급여를 pay변수에 할당합니다.
pay = salary + bonus

#총 급여를 출력합니다.
print('총 급여:', pay)

총 급여: 3700.0

In [57]:
#2-14
#본 예제에서는 원가에 할인율을 적용하여 할인가격을 계산해보자
#original price 변수에 원가를 입력받는다.
original_price = float(input('제품의 원가를 입력해주세요.'))

#원가에 할인율 20%를 적용하여 할인가를 계산하여 discount 변수에 할당한다.
discount = original_price *0.2

#원가에 할인가가 적용된 제품 가격을 계산하여 sale_price변수에 할당한다.
sale_price = original_price - discount

#할인가가 적용된 제품 가격을 출력한다.
print('할인가격:', sale_price)

제품의 원가를 입력해주세요.100.00
할인가격: 80.0

In [58]:
#2-15
test1 = float(input('첫 번째 과목의 점수를 입력해주세요:'))
test2 = float(input('두 번째 과목의 점수를 입력해주세요:'))
test3 = float(input('세 번째 과목의 점수를 입력해주세요:'))

average = (test1 + test2 + test3)/3.0
print('3 과목의 평균 점수:', average)

첫 번째 과목의 점수를 입력해주세요:90
두 번째 과목의 점수를 입력해주세요:80
세 번째 과목의 점수를 입력해주세요:100
3 과목의 평균 점수: 90.0

In [59]:
#2-16
total_seconds = float(input('시간 값을 초 단위로 입력해주세요.'))
hours = total_seconds // 3600
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60

print('시 분 초는 다음과 같습니다.')
print('시:', hours)
print('분:', minutes)
print('초:', seconds)

시간 값을 초 단위로 입력해주세요.11730
시 분 초는 다음과 같습니다.
시: 3.0
분: 15.0
초: 30.0

In [63]:
#2-17
future_value = float(input('목표 금액을 입력해주세요.'))
rate = float(input('연간 이율을 입력해주세요.'))
years = int(input('저축 기간을 연 단위로 입력해주세요.'))
present_value = future_value/(1.0+rate)**years

print('적립 금액:', present_value)

목표 금액을 입력해주세요.10000.0
연간 이율을 입력해주세요.0.05
저축 기간을 연 단위로 입력해주세요.10
적립 금액: 6139.132535407592

In [64]:
#2-18
print('a','b','c')
print('a','b','c',sep="")
print('a','b','c',sep="***")

a b c
abc
a***b***c

In [65]:
#2-19
print('a')
print('b')
print('c', end="")
print('d', end="")
print('e', end="***")
print('f')

a
b
cde***f